body {
    background-color: #ffd9ec;
    color: #7a2b52;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;

}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background: #ffffffaa
}

.avatar {
    width: 120px;
    border-radius: 50%;
    border: 3px solid #e94560;
}

.btn {
    display: block;
    background-color:#ffcde1;
    color:  #7a2b52;
    padding: 15px;
    margin: 10px 0;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #ffb7d5;
    transform: scale(1.02);
}

.destaque:hover {
    background:#ffb7d5;
    color:#ffb7d5 ;
    font-weight: bold;
    border: 1px solid #ffffffaa;
    border-radius: 10px;
}
